@use 'themes/theme' as t;

@layer components {
  :host {
    display: block;
  }

  .pill {
    padding: t.$space-1 t.$space-4;
    border: t.$line-width solid t.$border-strong;
    border-radius: t.$radius-pill;
    color: t.$text-secondary;
    font-size: t.$font-size-xs;
    font-weight: t.$font-weight-regular;
  }
}
