@use 'themes/layout' as l;

@layer components {
  :host {
    display: grid;
    grid-template:
      'top top' l.$top-bar-height
      'side main' minmax(0, 1fr)
      / l.$sidebar-width minmax(0, 1fr);
    height: 100vh;
  }

  .top {
    grid-area: top;
  }

  app-recordings {
    grid-area: side;
  }

  main {
    grid-area: main;
  }
}
